html,
body {
  font-size: 24pt;
  background-color: #181818;
}

#gameboard, #hand {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: #303030;
}

#gameboard > *, #hand > * {
  aspect-ratio: 1 / 1;
  border-width: .2em;
  border-style: inset;
  border-color: #303030;
  text-align: center;
}

#hand > * {
  border-color: transparent;
}

#gameboard img, #hand img {
  width: calc(100% - .4em);
  height: calc(100% - .4em);
  object-fit: cover;
}

.tileblue {
  background-image: url('tiles/blue.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.tilegreen {
  background-image: url('tiles/green.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.tilered {
  background-image: url('tiles/red.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.tileback {
  background-image: url('tiles/back.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

#hand {
  display: grid;
  justify-content: center;
}

.selected {
  border: .2em #00ff00 solid !important;
}

/*.selected::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .3);
}
*/