@font-face{ 
  font-family: Samaro;
  src: url('fonts/samaro__-webfont.eot');
  src: url('fonts/samaro__-webfont.woff') format('woff'),
       url('fonts/samaro__-webfont.ttf') format('truetype'),
       url('fonts/samaro__-webfont.svg#webfont') format('svg');
}


html,
body {
  font-size: 36pt;
  background-color: #181818;
  overscroll-behavior: none;
  color: white;
}

h1 {
  font-family: Samaro;
  color: white;
  text-align: center;
  font-size: 60pt;
  margin-top: .25em;
  margin-bottom: .25em;
}

button {
  height: 1.5em;
  border-radius: .25em;
  background-color: crimson;
  border-color: red;
  padding: 0 .3em;
  color: white;
  border-style: outset;
  border-width: .2em;
  margin-left: 1ch;
  margin-right: 1ch;
  font-size: 1em;
}

#gameboard, #hand {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: #303030;
}

#gameboard > *, #hand > * {
  aspect-ratio: 1 / 1;
  border-width: .2em;
  border-style: inset;
  border-color: #303030;
  text-align: center;
  position: relative;
}

#hand > * {
  border-color: transparent;
}

#gameboard img, #hand img {
  width: calc(100% - .4em);
  height: calc(100% - .4em);
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tileblue {
  background-image: url('tiles/blue.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.tilegreen {
  background-image: url('tiles/green.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.tilered {
  background-image: url('tiles/red.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.tileback {
  background-image: url('images/pouch.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: -.5em;
  filter: drop-shadow(2px 4px 6px black) !important;
}

.tileback > * {
  color: white;
  position: absolute;
  bottom: .4em;
  left: 50%;
  transform: translateX(-50%);
}

#hand {
  display: grid;
  justify-content: center;
}

.selected {
  border: .2em #00ff00 solid !important;
}

#score {
  margin-top: 1em;
  color: #00ff00;
  text-align: center;
  font-weight: bold;
  min-height: 1.0em;
}

div[class^="tile"] {
  filter: saturate(1.25);
}

#game {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 18pt;
}

figure {
  font-size: .8em;
  text-align: center;
}

#rules {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-size: .8em;
  padding: 1em;
  border: 3px solid ridge gray;
  overflow: auto;
  background-color: black;
}

#rules #close {
  position: fixed;
  right: 3px;
  top: 3px;
  padding: .2em .4em;
  border-radius: .25em;
  line-height: 1;
  color: white;
  background-color: red;
}

#rules img {
  width: 80%;
}

.show {
  display: block !important;
}

@media screen and (orientation: landscape) {
  html,
  body {
    font-size: 18pt;
  }

  body, #rules {
    padding: 1em 35vw;
    box-sizing: border-box;
  }
}